/*=============Resume buttons===========*/

.resume-grid-container {
    margin: 0px auto;
    padding: 5vw 0 0 0;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10%;
    justify-items: center;
}

.resume-button {
    position: center;
    max-width: 200px;
    max-height: 200px;
}
